[Unit]
Description=Run Monitoring Test service every minute

[Timer]
OnBootSec=1min
OnUnitActiveSec=1min
Unit=monitoring-test.service

[Install]
WantedBy=timers.target